---
import Navbar from "../components/Navbar";
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
        }

        .background {
            background-image: url("mdn1.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center; 
        }

        .capa-transparente {
            background-color: rgba(124, 164, 109, 0.5); /* Esto agrega una capa semitransparente sobre la imagen */
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .container {
            position: relative; /* Esto permite que el contenido se sitúe por encima de la capa de color */
            z-index: 1; /* Asegura que el contenido esté por encima de la capa de fondo */
        }
    </style>
</head>
<body>
    <div class="sticky top-0 bg-white z-10">
        <Navbar />
    </div>
    
</body>
</html>
