---
import Navbar from "../components/Navbar";
---
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Evita el scroll */
        }
        .bg-container {
            height: 100vh;
            width: 100vw;
            background-image: url('emdn2.png');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="sticky top-0 bg-white z-10">
        <Navbar />
    </div>
    <div class="bg-container flex items-center justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-5 w-[90%]">
            <div class="flex justify-center text-center flex-col gap-12 text-white font-bold text-xl">
                <h1 class="text-center tracking-widest text-white">
                    CONTÁCTATE CON NOSOTROS
                </h1>
                <div class="flex flex-col gap-6">
                    <p class="text-lg">
                        <i class="fa-solid fa-phone text-crimson mr-2 text-2xl"></i> 32745698
                    </p>
                    <p class="text-lg">
                        <i class="fa-solid fa-envelope text-crimson mr-2 text-2xl"></i> potencialhumano@mindef.mil.gt
                    </p>
                    <p class="text-lg">
                        <i class="fa-solid fa-location-dot text-crimson mr-2 text-2xl"></i> 2da. Avenida 4-63 zona 10, Ciudad de Guatemala
                    </p>
                </div>
                <div class="flex gap-4">
                    <a href="#" class="w-10 h-10 bg-crimson text-white text-center transition hover:bg-[#ac102f]">
                        <i class="fa-brands fa-facebook-f leading-10 text-xl"></i>
                    </a>
                    <a href="#" class="w-10 h-10 bg-crimson text-white text-center transition hover:bg-[#ac102f]">
                        <i class="fa-brands fa-instagram leading-10 text-xl"></i>
                    </a>
                    <a href="#" class="w-10 h-10 bg-crimson text-white text-center transition hover:bg-[#ac102f]">
                        <i class="fa-brands fa-twitter leading-10 text-xl"></i>
                    </a>
                    <a href="#" class="w-10 h-10 bg-crimson text-white text-center transition hover:bg-[#ac102f]">
                        <i class="fa-brands fa-linkedin leading-10 text-xl"></i>
                    </a>
                </div>
            </div>
            <form class="w-[100%] flex flex-col gap-4 text-center bg-gray-600 bg-opacity-70 p-8 rounded-lg shadow-lg">
                <div class="relative flex flex-col items-start">
                    <label class="text-blue-400 text-left mb-1">DPI</label>
                    <input type="text" placeholder="Número de DPI" required class="w-full h-10 px-2 bg-white/10 border-b-3 border-transparent text-white focus:border-crimson transition placeholder:text-gray-400 focus:placeholder-transparent outline-none" />
                </div>
                <div class="relative flex flex-col items-start">
                    <label class="text-blue-400 text-left mb-1">Nombre y apellido</label>
                    <input type="text" placeholder="Nombre y apellido" required class="w-full h-10 px-2 bg-white/10 border-b-3 border-transparent text-white focus:border-crimson transition placeholder:text-gray-400 focus:placeholder-transparent outline-none" />
                </div>
                <div class="relative flex flex-col items-start">
                    <label class="text-blue-400 text-left mb-1">Correo electrónico</label>
                    <input type="email" required placeholder="Correo electrónico" class="w-full h-10 px-2 bg-white/10 border-b-3 border-transparent text-white focus:border-crimson transition placeholder:text-gray-400 focus:placeholder-transparent outline-none" />
                </div>
                <div class="relative flex flex-col items-start">
                    <label class="text-blue-400 text-left mb-1">Asunto</label>
                    <input type="text" placeholder="Asunto" class="w-full h-10 px-2 bg-white/10 border-b-3 border-transparent text-white focus:border-crimson transition placeholder:text-gray-400 focus:placeholder-transparent outline-none" />
                </div>
                <div class="relative flex flex-col items-start">
                    <label class="text-blue-400 text-left mb-1">Mensaje</label>
                    <textarea placeholder="Escribe tu mensaje..." class="w-full h-32 p-2 bg-white/10 border-b-3 border-transparent text-white focus:border-crimson transition placeholder:text-gray-400 focus:placeholder-transparent outline-none"></textarea>
                </div>
                <button type="submit" class="w-full p-3 bg-crimson text-white transition hover:bg-[#ac102f] cursor-pointer text-lg">Enviar mensaje</button>
            </form>
        </div>
    </div>
</body>
</html>
