---
import Carousel from '../components/Carousel';
import Publico from '../layouts/publico.astro';
---


<Publico title='Inicio'>
    <div class="mb-10"> 
        <Carousel client:load  />
    </div>
    <div
    class=" text-white text-center p-4 w-[99%] mx-auto m-2"
>
    <h1 class="text-4xl font-bold text-amber-400">
        Bienvenido! Departamento de Administración del Potencial
        Humano de la Dirección de Personal del Estado Mayor de
        la Defensa Nacional.

    </h1>
    <p class="mt-4 text-lg text-gray-600">
        En esta página, encontrará información valiosa
        relacionada con la administración del potencial humano.
        Nos dedicammos a la captación y selección de personal, y
        nuestro objetivo es ofrecerle los recursos necesarios
        para optimizar su proceso de reclutamiento. ¡Gracias por
        visitarnos!
    </p>
</div>
</Publico>