---
import Carousel from "../components/Carousel";
import Publico from "../layouts/publico.astro";
---

<Publico title="Inicio">
<<<<<<< HEAD
    <div class="mb-10">
=======
    <div class="mb-8 mt-20">
>>>>>>> 0c9640c9c8c875a6a00425515f499b572b9edc23
        <Carousel client:load />
    </div>

    <!-- Sección de bienvenida con texto centrado -->
<<<<<<< HEAD
    <div class="text-white text-center p-8 mt-8 mb-12 w-[99%] mx-auto m-2 shadow-lg rounded-lg ">
        <h1 class="text-4xl font-bold text-blue-400">
            ¡Bienvenido! Departamento de Administración del Potencial Humano de
            la Dirección de Personal del Estado Mayor de la Defensa Nacional.
        </h1>
        <p class="mt-4 text-lg text-gray-600">
=======
        <div class=" text-center ml-20 mr-20 mt-10 mx-auto text-[35px]">
        <h1 class="text-4xl font-bold mb-9 text-primary">
            ¡Bienvenido! Departamento de Administración del Potencial Humano de
            la Dirección de Personal del Estado Mayor de la Defensa Nacional.
        </h1>
        <p class="mt-4 text-[25px] mb-10 text-primary">
>>>>>>> 0c9640c9c8c875a6a00425515f499b572b9edc23
            En esta página, encontrará información valiosa relacionada con la
            administración del potencial humano. Nos dedicamos a la captación y
            selección de personal, y nuestro objetivo es ofrecerle los recursos
            necesarios para optimizar su proceso de reclutamiento. ¡Gracias por
            visitarnos!
        </p>
    </div>

<<<<<<< HEAD
    <!-- Sección de Tarjetas Interactivas debajo del texto de bienvenida -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-8xl mx-auto p-6">
        <!-- Tarjeta 1: Captación de Personal -->
=======
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-8xl mx-auto p-6">

>>>>>>> 0c9640c9c8c875a6a00425515f499b572b9edc23
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <img
                src="/personal.png"
                alt="Captación de Personal"
                class="mx-auto h-20 w-20 mb-4"
            />
<<<<<<< HEAD
            <h2 class="text-3xl font-semibold text-primary mb-2">Captación</h2>
            <p class="text-gray-500 mb-4">
                Encuentra y selecciona el talento adecuado para el éxito de tu
                equipo.
            </p>
            <a
                href="/login"
                class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark transition"
                >Acceder</a
            >
        </div>

        <!-- Tarjeta 2: Procesos de Selección -->
=======
            <h2 class="text-3xl font-bold text-primary mb-2">Captación</h2>
            <p class="text-primary text-[20px] mb-4">
                Encuentra y selecciona el talento adecuado para el éxito de tu
                equipo.
            </p>
        </div>

>>>>>>> 0c9640c9c8c875a6a00425515f499b572b9edc23
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <img
                src="/evaluacion.png"
                alt="Procesos de Selección"
                class="mx-auto h-20 w-20 mb-4"
            />
<<<<<<< HEAD
            <h2 class="text-3xl font-semibold text-primary mb-2">Selección</h2>
            <p class="text-gray-500 mb-4">
                Gestiona los procesos de selección con eficiencia y precisión.
            </p>
            <a
                href="/login"
                class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark transition"
                >Acceder</a
            >
=======
            <h2 class="text-3xl font-bold text-primary mb-2">Selección</h2>
            <p class="text-primary text-[20px] mb-4">
                Gestiona los procesos de selección con eficiencia y precisión.
            </p>
>>>>>>> 0c9640c9c8c875a6a00425515f499b572b9edc23
        </div>

        <!-- Tarjeta 3: Evaluación de Desempeño -->
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <img
                src="/atencion.png"
                alt="Evaluación de Desempeño"
                class="mx-auto h-20 w-20 mb-4"
            />
<<<<<<< HEAD
            <h2 class="text-3xl font-semibold text-primary mb-2">Atención</h2>
            <p class="text-gray-500 mb-4">
                Atencion de calidad durante el proceso de selección y captación.
            </p>
            <a
                href="/login"
                class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark transition"
                >Acceder</a
            >
        </div>
    </div>
</Publico>
=======
            <h2 class="text-3xl font-bold text-primary mb-2">Atención</h2>
            <p class="text-primary text-[20px] mb-4">
                Atención de calidad durante el proceso de selección y captación.
            </p>
        </div>
    </div>
    <div>
        <p class="mt-4 text-[25px] mr-20 ml-20 text-center font-semibold mb-10 text-primary">
            Si estás interesado en alguna vacante o deseas formar parte del MINDEF, 
            te invitamos a contactarnos para más información. Si ya eres miembro del MINDEF, 
            puedes iniciar sesión para acceder a los recursos disponibles.

        </p>
    </div>
</Publico>
>>>>>>> 0c9640c9c8c875a6a00425515f499b572b9edc23
