---
import Carousel from "../components/Carousel";
import Publico from "../layouts/publico.astro";
---

<Publico title="Inicio">
    <div class="mb-8 mt-20">
        <Carousel client:load />
    </div>

    <!-- Sección de bienvenida con texto centrado -->
        <div class=" text-center ml-20 mr-20 mt-10 mx-auto text-[35px]">
        <h1 class="text-4xl font-bold mb-9 text-primary">
            ¡Bienvenido! Departamento de Administración del Potencial Humano de
            la Dirección de Personal del Estado Mayor de la Defensa Nacional.
        </h1>
        <p class="mt-4 text-[25px] mb-10 text-primary">
            En esta página, encontrará información valiosa relacionada con la
            administración del potencial humano. Nos dedicamos a la captación y
            selección de personal, y nuestro objetivo es ofrecerle los recursos
            necesarios para optimizar su proceso de reclutamiento. ¡Gracias por
            visitarnos!
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-8xl mx-auto p-6">

        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <img
                src="/personal.png"
                alt="Captación de Personal"
                class="mx-auto h-20 w-20 mb-4"
            />
            <h2 class="text-3xl font-bold text-primary mb-2">Captación</h2>
            <p class="text-primary text-[20px] mb-4">
                Encuentra y selecciona el talento adecuado para el éxito de tu
                equipo.
            </p>
        </div>

        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <img
                src="/evaluacion.png"
                alt="Procesos de Selección"
                class="mx-auto h-20 w-20 mb-4"
            />
            <h2 class="text-3xl font-bold text-primary mb-2">Selección</h2>
            <p class="text-primary text-[20px] mb-4">
                Gestiona los procesos de selección con eficiencia y precisión.
            </p>
        </div>

        <!-- Tarjeta 3: Evaluación de Desempeño -->
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
            <img
                src="/atencion.png"
                alt="Evaluación de Desempeño"
                class="mx-auto h-20 w-20 mb-4"
            />
            <h2 class="text-3xl font-bold text-primary mb-2">Atención</h2>
            <p class="text-primary text-[20px] mb-4">
                Atención de calidad durante el proceso de selección y captación.
            </p>
        </div>
    </div>
    <div>
        <p class="mt-4 text-[25px] mr-20 ml-20 text-center font-semibold mb-10 text-primary">
            Si estás interesado en alguna vacante o deseas formar parte del MINDEF, 
            te invitamos a contactarnos para más información. Si ya eres miembro del MINDEF, 
            puedes iniciar sesión para acceder a los recursos disponibles.

        </p>
    </div>
</Publico>