---
import { FaUser, FaLock } from "react-icons/fa";
import Navbar from "../components/Navbar";
import {LoginForm} from '../components/Login/LoginForm'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ministerio de la Defensa</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <login
        class="flex items-center justify-center min-h-screen bg-cover bg-center"
        style="background-image: url('/fondo_login.jpg');"
      >
        <div
          class="flex flex-col items-center lg:flex-row lg:justify-center w-full px-4"
        >
          <div class="mb-6 lg:mb-0 lg:mr-10 flex justify-center">
            <img
              src="/logotipo.png"
              alt="Logo Ministerio de la Defensa"
              class="w-[250px] md:w-[350px] lg:w-[600px] h-auto"
            />
          </div>

          <div
            class="bg-white font-bold rounded-[15px] p-[20px] h-auto lg:h-[550px] sm:w-[80%] md:w-[60%] lg:w-[450px] shadow-lg flex flex-col justify-center items-center text-center"
          >
            <h1
              class="text-primary text-[28px] md:text-[34px] lg:text-[35px] mb-6 lg:mb-8  font-semibold"
            >
              Iniciar Sesión
            </h1>

            <LoginForm client:load />
          </div>
        </div>
      </login>
    </main>
  </body>
</html>
