---
import NavbarSistema from '../components/NavbarSistema';


interface Props {
	title: string;
}

const { title } = Astro.props;

import AuthGuard from '../components/Auth/auth';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icono_usuario.png" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-background w-full h-full absolute">
		<AuthGuard client:load>
		<div class="">
			<NavbarSistema client:load />
			<div class="h-2 flex">
				<div class="flex-1 bg-[#069CF1]"></div>
				<div class="flex-1 bg-white"></div>
				<div class="flex-1 bg-[#069CF1]"></div>
				</div>
			<slot/>
		</div>
	</AuthGuard>
	</body>
</html>
